*
{
    margin: 0px;
    padding: 0px;
}
nav
{
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    padding-bottom: 17;
    box-shadow: 0px 0px 1px black;
    background-color: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0px;
    left: 0px;

    .nav_right
    {
        margin-bottom: 10px;
        img
        {
            width: 50px;
        }
        i
        {
            background: linear-gradient(120deg, rgb(19, 122, 121), rgb(14, 51, 105));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h2
        {
            color: rgb(19, 45, 83);
        }
    }

    div
    {
        display: flex;
        align-items: center;
        height: 100%;
    }

    ul
    {
        padding-top: 12px;
        padding-top: 0px;
        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 500px;
        font-weight: bold;

        a
        {
            position: relative;
            text-decoration: none;
            color: inherit;
        }

        a::before
        {
            content: "";
            position: absolute;
            top: -5px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: rgb(14, 70, 116);
            transform: scaleX(0);
            transform-origin: left;
            transition: all 0.3s    ease-out;
        }

        a:hover::before
        {
            transform: scaleX(1);
        }
    }

    .login
{
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    color: white;
    background: linear-gradient(90deg, rgb(0, 225, 221) 50%, rgb(8, 62, 143) 50%);
    background-size: 200%;
    background-position: right;
    font-weight: bold;
    transition: all 0.5s;
}

.login:hover
{
    background-position: left;
}
}


/* ======================================================================================== */


.carousel-caption 
{
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 10;
    color: rgb(19, 45, 83);
    text-align: left;
}

.carousel-caption h1 
{
    font-size: 3rem;
    font-weight: bold;
}

.fade-overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg , white 0.5% , rgba(0, 0, 0, 0) 100%);
    z-index: 5;
    pointer-events: none;
}

.caption_bot
{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 15px;
}

.caption_bot_0
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
    div
    {
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 40px;
        background-color: white;
        transition: all 0.5s;

        i
        {
            font-size: 15px;
            transition: all 0.2s;
        }
    }
    div:hover
    {   
        transform: scale(1.12);
        transform: translateY(-10px);
        box-shadow: 0px 0px 20px rgba(38, 25, 95, 0.486);

        i
        {
            font-size: 22px;
            color: rgb(100, 165, 143);
        }
    }
}


/* ======================================================================================== */

.start {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;

    opacity: 0;
    transform: translate(-50%, 20px); 
    animation: fadeSlideUp 0.6s ease-out forwards;
    animation-delay: 0.5s; 
}

@keyframes fadeSlideUp {
    to {
        opacity: 1;
        transform: translate(-50%, 0); 
    }
}

.start_1
{
    display: flex;
    gap: 30px;
    padding: 40px;
    background-color: rgb(77, 214, 196);
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 400px;
    height: 270px;
    transition: all 0.5s;

    .left
    {
        padding-top: 10px;
        font-size: 40px;
        font-weight: bold;
    }

    .right
    {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
.start_1:hover
{
    transform: scale(1.05);
    box-shadow: -2px 0px 30px rgb(77, 214, 196);
    margin-left: 20px;
    margin-right: 20px;
}

.start_2
{
    display: flex;
    gap: 30px;
    padding: 40px;
    background-color: rgb(38, 80, 143);
    color: white;
    width: 400px;
    height: 270px;
    transition: all 0.5s;

    .left
    {
        padding-top: 10px;
        font-size: 40px;
        font-weight: bold;
    }

    .right
    {
        display: flex;
        flex-direction: column;
        gap: 15px;

        button
        {
            border: 1px solid white;
            width: 170px;
            height: 40px;
            border-radius: 20px;
            margin-left: 22px;
            background-color: rgb(38, 80, 143);
            color: white;
            transition: all 0.5s;
            font-weight: bold;
        }
        button:hover
        {
            background-color: white;
            color: rgb(77, 214, 196);
        }
    }
}
.start_2:hover
{
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgb(38, 80, 143);
    margin-left: 20px;
    margin-right: 20px;
}

.start_3
{
    display: flex;
    gap: 30px;
    padding: 40px;
    background-color: rgb(17, 50, 122);
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 400px;
    height: 270px;
    transition: all 0.5s;

    .left
    {
        padding-top: 10px;
        font-size: 40px;
        font-weight: bold;
    }

    .right
    {
        display: flex;
        flex-direction: column;
        gap: 15px;

        ul
        {
            list-style: none;
            padding: 0px;
            margin: 0px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            li
            {
                padding-bottom: 5px;
                border-bottom: 1px solid rgb(255, 255, 255);
            }
        }
    }
}
.start_3:hover
{
    transform: scale(1.05);
    box-shadow: 2px 0px 30px rgb(17, 50, 122);
    margin-left: 20px;
    margin-right: 20px;
}

/* ======================================================================================== */


.main_top
{
    
    margin-top: 300px;
    h1
    {
        text-align: center;
        width: 100%;
        color: rgb(18, 28, 61);
    }
    .main_top_2
    {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        gap: 60px;
        .main_top_2_0
        {
            display: flex;
            gap: 30px;
            i
            {
                margin-top: 15px;
                color: rgb(53, 119, 119);
                font-size: 50px;
            }
            p
            {
                color: rgb(21, 38, 94);
                font-weight: bold;
            }
            button
            {
                border: 1px solid white;
                width: 170px;
                height: 50px;
                border-radius: 20px;
                margin-left: 22px;
                background-color: rgb(38, 80, 143);
                color: white;
                transition: all 0.5s;
                font-weight: bold;
            }
            button:hover
            {
                background-color: white;
                color: rgb(38, 80, 143);
                border: solid 1px rgb(38, 80, 143);
            }
        }
        .main_top_2_1
        {
            color: rgb(21, 38, 94);
            font-weight: bold;
            background-color: white;
            padding: 50px;
            padding-top: 0px;
            border-radius: 20px;
            z-index: 100;
        }
    }
}

.image_11
    {
        border-radius:30px;
        position: absolute;
        top: 170%;
        z-index: 11;
        left: 13%;
    }

    

/* ======================================================================================== */


.family-section 
{
    margin-top: 100px;
    background-color: #1e3170;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.family-text 
{
    display: flex;
    gap: 170px;
    margin-top: 190px;
    max-width: 1500px;
}

.family-text h6 
{
    color: #00e1dd;
    font-weight: bold;
    font-size: 14px;
}

.family-text h1 
{
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0;
}

.family-text p 
{
    font-size: 16px;
    line-height: 1.6;
    font-weight: bold;
    color: #cfd8f7;
}

.family-text ul 
{
    padding: 0;
    margin-left: 20px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.family-text ul li 
{
    color: #00e1dd;
    font-weight: bold;
}



.family-steps 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.step-card 
{
    background-color: white;
    color: #1e3170;
    border-radius: 10px;
    padding: 30px 25px;
    padding-top: 10px;
    width: 300px;
    height: 350px;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.step-card::before
{
    content: "";
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 80%;
    background-color: #00e1dd;
    transform: scaley(0);
    transform-origin: left;
    transition: all 0.5s    ease-out;
}

.step-card:hover::before
{
    transform: scaley(1);
}

.step-card:hover 
{
    transform: translateY(-15px);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);

    .step_card_top
    {
        i
        {
            color: #00e1dd;
            transform: translateY(-10px);
        }
        h2
        {
            color: rgba(28, 41, 97, 0.678)
        }
    }
}

.step_card_top
{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    transition: all 0.5s;
    i
    {
        font-size: 50px;
        transition: all 0.5s;
    }
    h2 
    {
        font-size: 100px;
        color: rgba(0,0,0,0.1);
        margin: 0;
        margin-bottom: 10px;
        transition: all 0.5s;
    }
}


.step-card h5 
{
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.step-card p 
{
    font-size: 13px;
    margin: 10px 0;
    color: #4a4a4a;
}

.step-card a 
{
    color: #1e3170;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: all 0.5s;
}

.step-card a:hover
{
    color: #00e1dd;
}


/* ======================================================================================== */


.meet_our_doctors
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;

    .text
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #1e3170;
        p
        {
            color: #414d77c4;
            text-align: center;
        }
    }

    
}

.none
{
    padding: 100px;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 1200px;
}

.b111
{
    font-size: 30px;
    color: #1e3170;
    transition: all 0.5s;
}
.b111:hover
{
    color: #00e1dd;
}


.details
{
    align-self: center;
    width: 140px;
    margin-bottom: 30px;
    border: #1e3170 solid 1px;
    background-color: #1e3170;
    color: white;
    border-radius: 15px;
    height: 30px;
    transition: all 0.5s;
}
.details:hover
{
    background-color: white;
    color: #1e3170;
}

.meet_doc
{
    width: 1200px;
}

.card
{
    margin-top: 80px;
    margin-bottom: 80px;
    height: 420px;
    transition: all 0.5s;
    border: none;
    box-shadow: 0px 0px 10px rgba(134, 134, 134, 0.678);
    .card-body
    {
        text-align: start;

        h5
        {
            color: #1e3170;
            text-align: center;
        }

        .p_1
        {
            color: #00e1dd;
        }

        p
        {
            color: #414d77c4;
        }
    }

    img
        {
            transition: all 0.5s;
        }
}
.card:hover
{
    box-shadow: 0px 0px 40px rgba(134, 134, 134, 0.678);
    transform: scale(1.03);
    margin-left: 20px;
    margin-right: 20px;

}

.card::before
{
    content: "";
    position: absolute;
    top: 647px;
    left: 30px;
    width: 80%;
    height: 3px;
    background-color: #00e1dd;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.5s    ease-out;
    border-radius: 2px;
}

.card:hover::before
{
    transform: scaleX(1);
}

/* ======================================================================================== */


footer
{
    display: flex;
    flex-direction: column;


    .blue
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        padding: 120px;
        padding-left: 300px;
        padding-right: 300px;
        background-color: #202a49;

        .blue_1
        {
            width: 300px;
            color: white;

            a
            {
                color: #00e1dd;
                transition: all 0.5s;
                font-weight: bold;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            a:hover
            {
                color: white;
            }
        }

        .blue_2
        {
            color: white;
            display: flex;
            flex-direction: column;
            gap: 30px;

            ul
            {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 0px;
                a
                {
                    font-size: 12px;
                    color: #546391;
                }
            }
        }

        .blue_3
        {
            color: white;
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
            gap: 30px;

            ul
            {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 0px;
                a
                {
                    font-size: 12px;
                    color: #546391;
                }
            }
        }

        .blue_4
        {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 400px;
            height: 340px;
            background-color: white;
            border-radius: 20px;
            padding: 40px;
            transition: all 0.5s;

            h5
            {
                color: #1e3170;
            }

            a
            {
                color: #00e1dd;
                transition: all 0.5s;
                font-weight: bold;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
            a:hover
            {
                color:#1e3170;
            }
        }
        .blue_4:hover
        {
            box-shadow: #2576ac 0px 0px 20px;
            transform: scale(1.02);
        }
        .blue_4::before
        {
            position: absolute;
            top: 0px;
            left: 30px;
            width: 80%;
            height: 5px;
            background-color: #00e1dd;
            transform: scaleX(0);
            transform-origin: center;
            transition: all 0.5s    ease-out;
            border-radius: 2px;
        }

        .blue_4:hover::before
        {
            transform: scaleX(1);
        }
    }

    .white
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        padding-top: 30px;
        padding-left: 300px;
        padding-right: 300px;
        background-color: white;

        ul
        {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }

}


.login_rep
{
    display: flex;
    justify-content: center;
    align-items: center;

    h6
    {
        background-color:#1e3170;
        padding: 6px;
        border-radius: 5px;
        color: white;
        height: 100%;
        transition: all 0.5s;
        border: #1e3170 solid 1px;
    }
    h6:hover
    {
        background-color: white;
        color: #1e3170;
        border: solid #1e3170 1px;
    }

    button
    {
        border: red solid 1px;
        background-color: red;
        padding: 6px;
        height: 100%;
        margin-bottom: 10px;
        border-radius: 5px;
        color: white;
        transition: all 0.5s;
    }
    button:hover
    {
        background-color: white;
        color: red;
        border: solid red 1px;
    }
}



.overly
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 9; 
    display: flex;
    align-items: center;
    justify-content: center;
}





.doc_details 
{
    animation: fadeInScale 0.3s ease forwards;
    opacity: 0;
    transform: scale(0.9);
}

@keyframes fadeInScale 
{
    to 
    {
        opacity: 1;
        transform: scale(1);
    }
}



